spring:
  application:
    name: api-gateway
  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://config-server:8888/}"
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: doctor-service
          uri: lb://doctor-service
          predicates:
            - Path=/api/v1/doctors/**
          filters:
            - StripPrefix=2
        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/api/v1/patients/**
          filters:
            - StripPrefix=2
        - id: visits-service
          uri: lb://visits-service
          predicates:
            - Path=/api/v1/visits/**
          filters:
            - StripPrefix=2
        - id: gen-ai-service
          uri: lb://gen-ai-service
          predicates:
            - Path=/api/v1/ai/**
          filters:
            - StripPrefix=2

server:
  port: ${PORT:8080}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,metrics,prometheus
  metrics:
    tags:
      application: api-gateway

